@font-face {
    font-family: 'Bebas';
    font-style: normal;
    font-weight: normal;
    src: local('Bebas'), url('../fonts/bebasmod.woff') format('woff');
}
@font-face {
    font-family: 'Yellow';
    font-style: normal;
    font-weight: normal;
    src: local('Yellow'), url('../fonts/yellow-modregular.woff') format('woff');
}
/* Icons */
   @font-face {
        font-family: 'BeachesIcons';
        font-style: normal;
        font-weight: normal;
        src: local('BeachesIcons'), url('../fonts/beachesIcons.woff') format('woff');
    }

    [class^="icon-"], [class*=" icon-"] {
      font:24px/24px 'BeachesIcons';
      font-style:normal;font-weight:normal;
      font-variant:normal;
      text-transform:none;speak:none;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
    }


    .icon-jamaican-villas:before {
      content: "\e900";
    }
    .icon-global-gourmet:before {
      content: "\e901";
    }
    .icon-together-nest-text:before {
      content: "\e902";
    }
    .icon-together-nest:before {
      content: "\e903";
    }
    .icon-washer-dryer:before {
      content: "\e904";
    }
    .icon-instagram:before {
      content: "\e905";
    }
    .icon-engagements:before {
      content: "\e906";
    }
    .icon-honeymoons:before {
      content: "\e907";
    }
    .icon-rtk:before {
      content: "\e908";
    }
    .icon-weddings:before {
      content: "\e909";
    }
    .icon-activities:before {
      content: "\e90a";
    }
    .icon-arrow-down:before {
      content: "\e90b";
    }
    .icon-arrow-left:before {
      content: "\e90c";
    }
    .icon-arrow-right:before {
      content: "\e90d";
    }
    .icon-arrow-up:before {
      content: "\e90e";
    }
    .icon-arrow:before {
      content: "\e90f";
    }
    .icon-beaches:before {
      content: "\e910";
    }
    .icon-best-price:before {
      content: "\e911";
    }
    .icon-bullet:before {
      content: "\e912";
    }
    .icon-butler-elite:before {
      content: "\e913";
    }
    .icon-butler:before {
      content: "\e914";
    }
    .icon-cal:before {
      content: "\e915";
    }
    .icon-check:before {
      content: "\e916";
    }
    .icon-check2:before {
      content: "\e917";
    }
    .icon-checkin:before {
      content: "\e918";
    }
    .icon-checkout:before {
      content: "\e919";
    }
    .icon-close:before {
      content: "\e91a";
    }
    .icon-compass:before {
      content: "\e91b";
    }
    .icon-contact:before {
      content: "\e91c";
    }
    .icon-dan:before {
      content: "\e91d";
    }
    .icon-details-arrivals:before {
      content: "\e91e";
    }
    .icon-details-babysitting:before {
      content: "\e91f";
    }
    .icon-details-bring:before {
      content: "\e920";
    }
    .icon-details-butler:before {
      content: "\e921";
    }
    .icon-details-charge:before {
      content: "\e922";
    }
    .icon-details-checkin:before {
      content: "\e923";
    }
    .icon-details-currency:before {
      content: "\e924";
    }
    .icon-details-departure:before {
      content: "\e925";
    }
    .icon-details-dress:before {
      content: "\e926";
    }
    .icon-details-electric:before {
      content: "\e927";
    }
    .icon-details-gift:before {
      content: "\e928";
    }
    .icon-details-handicap:before {
      content: "\e929";
    }
    .icon-details-laundry:before {
      content: "\e92a";
    }
    .icon-details-medical:before {
      content: "\e92b";
    }
    .icon-details-passport:before {
      content: "\e92c";
    }
    .icon-details-private:before {
      content: "\e92d";
    }
    .icon-details-requests:before {
      content: "\e92e";
    }
    .icon-details-safe:before {
      content: "\e92f";
    }
    .icon-details-scuba:before {
      content: "\e930";
    }
    .icon-details-tips:before {
      content: "\e931";
    }
    .icon-details-transfers:before {
      content: "\e932";
    }
    .icon-details-weather:before {
      content: "\e933";
    }
    .icon-details-wifi:before {
      content: "\e934";
    }
    .icon-details:before {
      content: "\e935";
    }
    .icon-dining-diet:before {
      content: "\e936";
    }
    .icon-divider:before {
      content: "\e937";
    }
    .icon-dollar:before {
      content: "\e938";
    }
    .icon-download:before {
      content: "\e939";
    }
    .icon-english-butler:before {
      content: "\e93a";
    }
    .icon-extras-butler:before {
      content: "\e93b";
    }
    .icon-extras-concierge:before {
      content: "\e93c";
    }
    .icon-extras-handicap:before {
      content: "\e93d";
    }
    .icon-extras-lovenest:before {
      content: "\e93e";
    }
    .icon-extras-private-transfer:before {
      content: "\e93f";
    }
    .icon-extras-room-service:before {
      content: "\e940";
    }
    .icon-facebook:before {
      content: "\e941";
    }
    .icon-flipbook:before {
      content: "\e942";
    }
    .icon-foundation:before {
      content: "\e943";
    }
    .icon-fowlcay:before {
      content: "\e944";
    }
    .icon-gplus:before {
      content: "\e945";
    }
    .icon-grandpineapple:before {
      content: "\e946";
    }
    .icon-grid:before {
      content: "\e947";
    }
    .icon-handicap:before {
      content: "\e948";
    }
    .icon-islandroutes:before {
      content: "\e949";
    }
    .icon-laptop:before {
      content: "\e94a";
    }
    .icon-list:before {
      content: "\e94b";
    }
    .icon-lovenest:before {
      content: "\e94c";
    }
    .icon-map:before {
      content: "\e94d";
    }
    .icon-padi-learning:before {
      content: "\e94e";
    }
    .icon-padi:before {
      content: "\e94f";
    }
    .icon-person:before {
      content: "\e950";
    }
    .icon-photo:before {
      content: "\e951";
    }
    .icon-pinterest:before {
      content: "\e952";
    }
    .icon-plus:before {
      content: "\e953";
    }
    .icon-press:before {
      content: "\e954";
    }
    .icon-privatevillas:before {
      content: "\e955";
    }
    .icon-redlane:before {
      content: "\e956";
    }
    .icon-rss:before {
      content: "\e957";
    }
    .icon-sandals-select:before {
      content: "\e958";
    }
    .icon-sandals:before {
      content: "\e959";
    }
    .icon-select:before {
      content: "\e95a";
    }
    .icon-share-link:before {
      content: "\e95b";
    }
    .icon-share:before {
      content: "\e95c";
    }
    .icon-snapshots:before {
      content: "\e95d";
    }
    .icon-square-check:before {
      content: "\e95e";
    }
    .icon-tag:before {
      content: "\e95f";
    }
    .icon-tri-down:before {
      content: "\e960";
    }
    .icon-tri-left:before {
      content: "\e961";
    }
    .icon-tri-right:before {
      content: "\e962";
    }
    .icon-tri-up:before {
      content: "\e963";
    }
    .icon-twitter:before {
      content: "\e964";
    }
    .icon-video:before {
      content: "\e965";
    }
    .icon-vrx:before {
      content: "\e966";
    }
    .icon-weddingmoons:before {
      content: "\e967";
    }
    .icon-wp-lazy:before {
      content: "\e968";
    }
    .icon-wp-pirate:before {
      content: "\e969";
    }
    .icon-wp-slide:before {
      content: "\e96a";
    }
    .icon-wp-surf:before {
      content: "\e96b";
    }
    .icon-zoom:before {
      content: "\e96c";
    }
    .icon-anniversaries:before {
      content: "\e96d";
    }
    .icon-wmblog:before {
      content: "\e96e";
    }
    .icon-checkmark:before {
      content: "\e96f";
    }
    .icon-world:before {
      content: "\e970";
    }
    .icon-headset:before {
      content: "\e971";
    }
    .icon-divesite:before {
      content: "\e972";
    }
    .icon-details-mobile:before {
      content: "\e973";
    }
    .icon-global-gourmet-2:before {
      content: "\e974";
    }



/* General */
body {
    font-family: "Helvetica Neue", sans-serif;
    display: block;    
}
.main-header {
    background: url(../imgs/headerBG.png) repeat;
    background: linear-gradient(to bottom, #373737 0%,#373737 29%,#e3e3e3 29%,#f8f9f9 100%);
    height: 86px;
    min-width: 1024px;
}
.container {
    width: 960px;
    margin: auto;
    position: relative;
}
.logo {
    width: 183px;
    float: left;
    height: 86px;
    background-color: #00abe6;
    color: white;
    display: block;
}
.logoPrimary { 
    width:183px;
    height:86px;
    color:white;
    font-family: "Bebas";
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    text-align: center;
}
.logoPrimary i {
    font-size: 69px;
    text-align: center;
    display: block;
    line-height: 63px;
}
.logo img {
    width: 183px;
    height: 86px;
    object-fit: cover; /* crossbrowser incompatibility caniuse */
    margin-top: -8px;
}
a:hover.logo {
    background-color: #1AC4FF
}
#logo img {
    width: 235px;
    height: 61px;
    object-fit: cover; /* crossbrowser incompatibility caniuse */
    padding-top: 14px;
    padding-bottom: 14px;
}
.navbars {
    float:left;
    width:767px;
    padding-left: 10px;
    height:86px;
}
.list-inline > li {
    list-style: none;
    display: inline-block;
    font-size: 0; /* reduce white space between elements */
}
.topMenu {
    height:25px;
    width: 567px;
    float: left;
}
.topMenu > a {
    font: normal 11px "Arial Bold", sans-serif;
    line-height: 14px;
    color: #acacac;
    text-align: left;
    text-decoration: none;
    padding:8px 9px;
}
.topMenu a:hover {
    color:#00abe6;
}
.mainMenu {
    height: 62px;
    float: left;
    clear: both;
}
.mainNav >li a {
    font:  18px "Bebas", sans-serif;
    font-weight: 500;
    line-height: 14.35px;
    color: #373737;
    text-transform: uppercase;
    padding: 24px 11px;
    display: block;
}
.mainMenu li:hover {
    background-color: #373737;
}
.mainMenu li:hover > a {
    color:white;
}
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    cursor:pointer;
   /* display: inline-block;*/
}
.bookNow {
    color:white;
    background-color: #00abe6;
    width: 74px;
    height: 61px;
    float: right;
    top:25px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #373737;
    min-width: 266px;
    max-height: 0px;
    overflow: hidden;
    right: 0;
    top:100%;
    z-index: 999;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.6s ease-in-out;

}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.show {
    display: block;
    max-height: 560px;
    overflow: hidden;
}
.langDrop {
    position: absolute;
    padding: 4px 0px 0px !important;
    float: right;
    right: 0px;
}
a:hover.bookNow {
    background-color: #1AC4FF;
}
a:hover.logoPrimary {
     background-color: #1AC4FF;
}
.spanBook {
    text-transform: uppercase;
    line-height: 3px;
    letter-spacing: -1px;
}
.spanNow {
    text-transform: uppercase;
    line-height: 3px;
    font-size: 18px;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
a {
    text-decoration: none;
    color: #00abe6;
}
a.socialLink {
    color: #979797;
    font-family: "beachesFonts";
    width:43px !important;
    height: 33px !important;
    
}
a.socialLink:hover {
    color: #00abe6;
}

.share {
    padding-top:22px;
    padding-bottom: 21px;
    float:right
}
ul#social > li {
    width:43px;
    height:29px;
    border-left: 2px solid #ebebeb;
}
#social >li i {
    padding:5px 16px; 
    font-size: 22px;
}
#social >li:last-child {
    border-right: 2px solid #ebebeb;
}

.forEveryone > ul li a {
    display:block;
    position: relative;
}
.shapedLink .circleBorder {
    border-radius: 50%;
    position: relative;
    width:121px;
    height: 122px;
    display: block;
    border: 6px solid #e8e8e8;
    overflow: hidden;
}
.shapedLink span.typo {
    position: absolute;
    bottom: -21px;
    left:50%;
    width:122px;
    padding: 6px 0 7px;
    margin-left: -62px;
    text-align: center;
    font-family: "Yellow";
    color:#00abe6;
    background: white;
    font-size: 22px;
}

.shapedLink span.typo::after {
    transform: rotate(-2deg);
    position:absolute;
    top:-4px;
    left:-6px;
    z-index:-1;
    width:135px;
    height: 43px;
    background: #ebebeb;
    content: "";
}
a:hover .circleBorder {
    border-color: #00abe6;
    transition: 0.7s;
}
a:hover .typo::after {
    background: #00abe6;
    transition: 0.7s;
}
.sprite {
    width: 133px;
    height: 134px;
    position: absolute;
    background: url(../imgs/everySprite.png)
}

.everyCouple {
    background-position: 0px 0px;
}
.everyFamily {
    background-position: 146px 0px;
}
.everyFriend {
    background-position: -51px 246px;
}
.everyGroup {
    background-position: 132px 250px;
}
.everyWedding {
    background-position: -37px 118px;
}

.b {
    font-weight: bold;
}

.introTitle {
    text-transform: uppercase;
    font-family: "Bebas";
    font-size: 52.3px;
    padding-top: 23px;
    padding-bottom: 12px;
}
.blueFont {
    font-family: "Yellow";
    font-size: 52.3px;
    margin-top: 23px;
    margin-bottom: 12px;
    color:#00abe6;
}
.alignBottom {
    vertical-align: bottom;
}
.row {
    width:960px;
    
}

img#homeHero {
    z-index:1;
}
.mainArticle {
    width:704px;
    float:left;
}
.intro {
    width:672px;
    padding-bottom: 59px;
    clear: both;
}
.intro p {
    font: 16px "Arial Regular", sans-serif;
    color:#666;
    font-weight: 300;
    line-height: 24px;
    padding-top: 12px;
}
.forEveryone {
    padding-bottom: 65px;
}
.sidebar {
    width:235px;
    float:right;
    margin-top: -89px;
    z-index: 2;
    position: relative;
}
.countdownHeader {
    border-top: 2px solid #ed8b75;
    height:21px;
    background-color: #ed5431;
    color:white;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    padding: 9px 0px 7px 0px;
}
.timer {
    font-size: 22px !important;
}
.ad {
    font-size: 19px;
}
.countdown {
    margin-bottom: 17px;
}
.hourGlass {
    height:34px;
    background-color:#373737;
    color: white; 
    padding: 9px 0px 7px 0px;
    font-size: 22px;
    text-align: center;
}
span.tag {
    font-size: 8px;
    display: block;
    text-transform: uppercase;
}
#colon {
    vertical-align: super;
}
.promoBanner {
    height:100px;
    background-color: #00abe6;
    border-top: 2px solid #85e0ff;
    color:white;
    text-align: center;
    padding: 26px 30px 18px 19px;
}
.discount {
    font-size: 85px;
    display: inline-block;
    padding-left: 25px;
}
a.specialPromo {
    color:white;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
}
.sidebar img#countdown {
    border-top-color: #ed8b75;
}
.sidebar img.discount {
    background-color: #00abe6;
    border-top:2px solid #85e0ff;
    text-transform: uppercase;
    width:235px;
    height:201px;
    color:white;
    margin-top:-2px;
    font-size: 29px;
}
.beaches-sideLogo {
    color: #00abe6;
    font-size: 53px;
    padding:6px 0px;
    text-align: center;
}
span.saveTxt {
    letter-spacing: 1px;
    font-size: 20px;
}
.left {
    float: left;
}
.small {
    font-size: 10px;
}
.allCaps {
    text-transform: uppercase;
    
}
.destination {
    background-color: #d5d5d5;
    height:147px;
    padding: 11px;
    border-radius: 3px;
}
.guests {
    background-color: #d5d5d5;
    height:36px;
    padding: 11px;
    margin-top:4px;
    border-radius: 3px;
}
.rotate {
    transform: rotate(180deg);
}
.bestPriceIcon {
    width:9px;
    color:#00abe6;
    float:left;
    text-align: right;
    padding-left: 5px;
    line-height: 10px;
}
.selectWrapper span {
    display: block;
    margin-top: 3px;
}
.inline {
    display: inline-block;
    vertical-align: top;
}

sup {
    vertical-align: super;
    text-transform: uppercase;
    width: 55px;
    display: inline-block;
    position: absolute;
    margin-left: -35px;
    margin-top: 10px;
    font-size: 18px;
}
/** Slider **/

.sliderContainer {
    position: relative;
    overflow: hidden;
    min-width: 1024px;
    height: 604px;
}
.sliderContainer .sliderContent {		
	position:absolute;
	display: table;
    width: 1440px;
    left: 50%;
    margin-left: -720px;
    height: 604px;
}

.sliderContent .current {
    z-index: 2;
}
.nav{
	z-index:1;
    position: absolute;
    top:40%;
    width: 100%;
    -moz-transform: translateY(50%);
}
.active {
   opacity: 1 !important;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.slides {
    position:relative;
    width: 1440px;
    height: 604px;
}

/*.nav div {
	width:54px;
	height:54px;
	position:absolute;
	top:40%;
	cursor:pointer;
}*/

.leftnav {
	left:1%;
    background: url(../imgs/navbars.png) 0 0;
}

.rightnav {
	right:1%;
     background: url(../imgs/navbars.png) 0px 54px;
}

.leftnav:hover {
	left:12px;
    background: url(../imgs/navbars.png) 54px 0px;
}

.rightnav:hover {
	right:18px;
     background: url(../imgs/navbars.png) 54px 54px;
}

/*.dot-nav, .playSlides span, .indicator span, .indicator.current span:hover {
    background: url(../imgs/sliderSprite.png)
}*/
.dot-nav {
    position:absolute;
    left:16.7%;
/*    background-position: 0 0;*/
    background: linear-gradient(to right, #000 0%,#fff 100%);
    opacity: 0.56;
    width: 793px;
    height: 32px;
    bottom: 0;
}
.dot-nav .list-inline:before {
    content: "";
    display: table;
}
.playSlides {
    float: left;
    width: 20px;
    height: 20px;
    padding: 7px 15px 5px 11px;
}
.playSlides span {
    position: absolute;
    border-radius: 3px;
    background: linear-gradient(to bottom, #ffffff 0%,#e7e7e7 100%);
    width: 18px;
    height: 18px;
    cursor: pointer;
    font-size: 17px;
}
.playSlides span:hover {
    background: linear-gradient(to bottom, #0fc2fa 0%,#24a0cf 100%);
    cursor: pointer;
}
.playSlides span.pause:before {
    background-position: -248px -32px;
    cursor: pointer;
    content: "\ea1c";
    color: black;
}
.playSlides span.pause:hover {
    background-position: -270px -32px;
    cursor: pointer;
}
.indicators {
    position: relative;
    border-left: 1px solid #c1c5bb;
    margin-top: 7px;
    float: left;
}
.dot-nav li.indicator {
    width: 18px;
    height: 18px;
    text-align: center;
    margin: 0 3px;
    vertical-align: middle;
    padding-top: 4px;
}
.dot-nav li.indicator.current{
    padding-top: 0px;
}
.dot-nav li.indicator > span:hover{
    padding-top: 0px;
}
.indicator span {
    display: inline-block;
/*    background-position: -344px -32px;*/
    width: 12px;
    height: 12px;
    background-color: #efefef;
    border-radius: 50%;
    cursor: pointer;
}
.indicator span:hover {
    /*    background-position: -328px -32px;*/
    width: 12px;
    height: 12px;
    background-color: #01abe6;
    border: 3px solid #efefef;
    margin-top: -2px;
}
.indicator.current span {
/*    background-position: -328px -32px;*/
    width: 12px;
    height: 12px;
    background-color: #01abe6;
    border: 3px solid #efefef;
}
.indicator.current span:hover {
    /*    background-position: -328px -32px;*/
    width: 12px;
    height: 12px;
    background-color: #01abe6;
    border: 3px solid #efefef;
    margin-top: 0px;
}
.image.current {
    display:table;
}
/** Slider **/
#frmBookingBlck {
    padding: 10px;
}
.blue {
    color: #01abe6;
}
a.bOnline {
    width: 100%;
    height: 30px;
    background: #4b4b4b;
    text-transform: uppercase;
    padding: 0px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
a:hover.bOnline {
    background: gray:
}
.accordion {
    background: #666;
    color: white;
    width: 246px;
    height: 32px;
    padding: 5px;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
}
.accordion.marg-bot:hover {
    background: gray;
}
.accordion.picker {
    width: 228px;
    height: 14px;
    padding: 9px;
    position: relative;
    line-height: 14px;
    cursor: default;
}
input.pickDate {
    background: none;
    border: none !important;
    color: white !important;
    font-size: 14px;
    position: absolute;
    left: 7px;
    opacity: 1;
    top: 2px;
    width: 153px;
    font-weight: 400;
    margin: 0;
    text-align: left;
    cursor: default;
    outline: none;
}
.accWrapper {
    position: relative;
}
.accWrapper.gray .arrow:after {
    background: #666;
}
.accWrapper.gray .arrow:before {
    background: #666;
}
.accWrapper.focus.gray .arrow:after {
    background: #666;
}
.accWrapper.focus.gray .arrow:before {
    background: #666;
}
.accWrapper .arrow {
    position: absolute;
    float: right;
    width: 18px;
    height: 18px;
    right: 10px;
    top: 5px;
}
.accWrapper .arrow:after {
    width: 10px;
    height: 2px;
    background: white;
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    right: 0;
    content: "";
    transition: right .2s ease-in;
}
.accWrapper .arrow:before {
    width: 10px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: 6px;
    content:"";
    transition: right .2s ease-in;
}
.accWrapper.focus .arrow:after {
    width: 10px;
    height: 2px;
    background: white;
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    right: 4px;
    content: "";
}
.accWrapper.focus .arrow:before {
    width: 10px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: 4px;
    content:"";
}

.customSelect {
    background: linear-gradient(to bottom, #fefefe 0%,#eeeeee 100%);
    color: black;
    width:202px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-radius: 3px;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 5px;
    position: relative;
    z-index: 0 
    
}
.customSelect .arrow {
    position: relative;
    float: right;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.customSelect .arrow:after {
    width: 10px;
    height: 2px;
    background: #666;
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    right: 0;
    content: "";
    transition: right .2s ease-in;
}
.customSelect .arrow:before {
    width: 10px;
    height: 2px;
    background: #666;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: 6px;
    content:"";
    transition: right .2s ease-in;
}
.customSelect.active .arrow:after {
    width: 10px;
    height: 2px;
    background: #666;
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    right: 4px;
    content: "";
}
.customSelect.active .arrow:before {
    width: 10px;
    height: 2px;
    background: #666;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: 4px;
    content:"";
}
.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    border-radius: 3%;
    font-size: 14px;
    line-height: 0;
}
.destination .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
    opacity: 0;
    border-radius: 3%;
    font-size: 14px;
    line-height: 0;
    position: absolute;
}
.destination ul.panel > li {
    width: 100%;
    height: 31px;
    color: #666;
    line-height: 26px;
    padding-left: 5px;
    border-bottom: 1px solid #e8e8e8;
}
.destination ul.panel > li a {
    color: #666;
    padding-left: 5px;
    height: 7px;
    line-height: 26px;
    width: 100%;
    height: 31px;
}
.destination ul.panel > li.selected{
    background: #f6f6f6;
    color: #01abe6;
}
.destination ul.panel > li:hover a {
    color: #01abe6;
}
.destination ul.panel > li:hover {
    background: #f6f6f6;
    cursor: pointer;
}
.panel.visible {
    opacity: 1;
    max-height: 200px;
    margin-top: 2px;
}

.selectDestination .panel.visible {
    opacity: 1;
    max-height: 200px;
    width: 212px;
    margin-top: -3px;
    z-index: 9999;
}
.selectResort .panel.visible {
    opacity: 1;
    max-height: 200px;
    width: 212px;
    margin-top: -3px;
    z-index: 9999;
}
div.panel {
    height: 0;
    transition: 0.6s ease-in-out;
}
div.panel.visible {
    height: 155px;
}
ul.panel > li {
    width: 100%;
    height: 31px;
    border-bottom: 1px solid #e8e8e8;
}
ul.panel > li a {
    color: #666;
    padding-left: 5px;
    height: 7px;
}
ul.panel > li.selected a{
    background: #f6f6f6;
    color: #01abe6;
}
ul.panel > li a:hover {
    background: #f6f6f6;
    color: #01abe6;
}
.marg-bot {
    margin-bottom: 10px;
}
#frmBookingBlck input[type = "submit"] {
    width: 246px;
}
#frmBookingBlck .selectWrapper {
    color:white;
}
#frmBookingBlck .select-sm {
    box-shadow: none;
    background: #666;
    color: white;
}

/*** FORMS ***/
input[type="text"] {
    border: 1px solid;
    border-color: #b4b4b4 transparent transparent #b4b4b4;
}
input[type="submit"] {
    height: 39px;
    width: 235px;
    color:white;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    background-color:#ed5431;
    border:none;
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}

input[type="submit"]:hover {
    background-color: #d83813;
}

input::placeholder { 
    color: #777; 
    font-size: 10px
}
select, option {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: linear-gradient(to bottom, #fefefe 0%,#eeeeee 100%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.mySelect {
    margin-bottom: 6px;
    width:213px;
    height: 33px;
    padding:5px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0px 1px 3px #eee;
}
.select-sm {
    width:49px !important;
    height: 36px !important;
    position: relative;
    float: right;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0px 1px 3px #eee;
}

select:-moz-focusring {
    outline: none;
}
.customS:before {
    content: url(../imgs/ic_keyboard_arrow_down_black_24dp_1x_copy.png);    
    position: absolute; 
    right: 16px;  
    padding-top: 5px;
    z-index: 1;    
    pointer-events: none; 
}
.select-smX:after {
    content: url(../imgs/ic_keyboard_arrow_down_black_24dp_1x_copy.png);    
    position: absolute; 
    right: 4px;  
    padding-top: 6px;
    z-index: 1;    
    pointer-events: none; 
}
.selectWrapper {
    width:101px;
    height: auto;
    float:left;
}
.selectWrapper::after {
    content:"";
    clear: both;
}
.selectWrapper::before {
    content:"";
    clear: both;
}
#adults, #children {
    padding-left: 5px;
}
.datePicker {
    margin-bottom: 6px;
    width:93px;
    height: 27px;
    border:none;
    border-radius: 3px;
    float: right;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}
a.ui-datepicker-next {
    background-color:#676767 !important;
    border:none !important;
    border-color: #676767;
}
a.ui-state-hover.ui-datepicker-next-hover {
    background-color:#676767 !important;
    border:none !important;
    border-color: #676767;
}
a.ui-datepicker-prev {
    background-color:#fff !important;
    border:none !important;
    border-color: #fff;
}
a.ui-state-hover.ui-datepicker-prev-hover {
    background-color:#676767 !important;
    border:1px solid !important;
    border-color: #676767;
    border-radius: 3px;
}

a.ui-state-active {
    background-color:#E65130 !important;
    border:1px solid !important;
    border-color: #E65130 !important;
    border-radius: 3px !important;
}
a.ui-state-hover {
    background-color:#E65130 !important;
    border:1px solid !important;
    border-color: #E65130 !important;
    border-radius: 3px !important;
}
.ui-widget-header .ui-icon {
    background-image: url("../imgs/ui-icons_ffffff_256x240.png") !important;
}
.pickerTrigger {
    float: right;
    font-size: 28px !important;
    margin-left: 5px;
    margin-top: 5px;
    color: #666666;
    cursor: pointer;
}
.pickerTrigger.acc {
    float: right;
    font-size: 22px !important;
    margin-top: -4px;
    margin-right: -1px;
    padding: 0;
    color: white;
    cursor: pointer;
}
a:hover.pickerTrigger {
    color:#040404;
}
a:hover.pickerTrigger.acc {
    color: white;
}
label {
    padding-top: 2px;
    text-align: right;
    font-size: 9px;
    text-transform: uppercase;
    width: auto;
    word-wrap: break-word;
    font-weight: 600;
    margin-top:3px;
}
label.datepickerLabel {
    font-size: 12px;
    margin-top: 7px;
    float: left;
}

#sliderBG {
    background-color: #373737;
    z-index: 0;
}
.leftnav2 {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border: 4px solid white;
    left: 2%;
    background-color: transparent;
    opacity: 1;
    -webkit-transition: background-color 0.4s, opacity 0.5s;
    transition: background-color 0.4s, opacity 0.5s;
    float: left;
    margin-left: 2%;
}
.leftnav2:hover{
    background-color: #666;
    opacity: 0.89;
}
.leftnav2 .arrow {
    top: -2px;
    width: 54px;
    height: 54px;
    position: relative;
    right: 3px;
}
.leftnav2 .arrow:after {
    width: 24px;
    height: 4px;
    background: white;
    transform: rotate(45deg);
    top: 59%;
    position: absolute;
    left: 29%;
    content: "";
}
.leftnav2 .arrow:before {
    width: 24px;
    height: 4px;
    background: white;
    transform: rotate(-45deg);
    top: 31%;
    position: absolute;
    left: 29%;
    content:"";
}
.leftnav2 .arrow .l {
    width: 24px;
    height: 4px;
    background: white;
    transform: rotate(45deg);
    top: 27px;
    left: 12px;
}
.leftnav2 .arrow .r {
    width: 24px;
    height: 4px;
    background: white;
    transform: rotate(-45deg);
    top: 11px;
    left: 12px;
}
.rightnav2 {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border: 4px solid white;
    right: 2%;
    background-color: transparent;
    opacity: 1;
    -webkit-transition: background-color 0.4s, opacity 0.5s;
    transition: background-color 0.4s, opacity 0.5s;
    float: right;
    margin-right: 2%;
}
.rightnav2:hover{
    background-color: #666;
    opacity: 0.89;
}
.rightnav2 .arrow {
    top: -2px;
    width: 54px;
    height: 54px;
    position: relative;
    right: 3px;
}
.rightnav2 .arrow:after {
    width: 24px;
    height: 4px;
    background: white;
    transform: rotate(135deg);
    top: 59%;
    position: absolute;
    right: 29%;
    content: ""; 
}
.rightnav2 .arrow:before {
    width: 24px;
    height: 4px;
    background: white;
    transform: rotate(-135deg);
    top: 31%;
    position: absolute;
    right: 29%;
    content:"";
}

@media (max-width: 1440px) {
    div.rightnav2 {
        margin-right: 2% !important;
    }
    div.leftnav2 {
        margin-left: 2% !important;
    }
    
}
@media (min-width: 1281px) and (max-width: 1380px) {
    div.rightnav2 {
        margin-right: 6% !important;
    }
    div.leftnav2 {
        margin-left: 6% !important;
    }
    
}
@media (min-width: 1025px) and (max-width:1280px) {
    div.rightnav2 {
        margin-right: 10% !important;
    }
    div.leftnav2 {
        margin-left: 10% !important;
    }
    
}
@media (min-width: 1024px) and (max-width: 1100px) {
    div.rightnav2 {
        margin-right: 16% !important;
    }
    div.leftnav2 {
        margin-left: 16% !important;
    }
    
}
@media (max-width: 1024px) {
    div.rightnav2 {
        margin-right: 16% !important;
    }
    div.leftnav2 {
        margin-left: 16% !important;
    }
    
}