@font-face {
    font-family: 'Bebas';
    font-style: normal;
    font-weight: normal;
    src: local('Bebas'), url('../fonts/bebasmod.woff') format('woff');
}
@font-face {
    font-family: 'Yellow';
    font-style: normal;
    font-weight: normal;
    src: local('Yellow'), url('../fonts/yellow-modregular.woff') format('woff');
}
/* Icons */
   @font-face {
        font-family: 'BeachesIcons';
        font-style: normal;
        font-weight: normal;
        src: local('BeachesIcons'), url('../fonts/beachesIcons.woff') format('woff');
    }

    [class^="icon-"], [class*=" icon-"] {
      font:24px/24px 'BeachesIcons';
      font-style:normal;font-weight:normal;
      font-variant:normal;
      text-transform:none;speak:none;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
    }


    .icon-jamaican-villas:before {
      content: "\e900";
    }
    .icon-global-gourmet:before {
      content: "\e901";
    }
    .icon-together-nest-text:before {
      content: "\e902";
    }
    .icon-together-nest:before {
      content: "\e903";
    }
    .icon-washer-dryer:before {
      content: "\e904";
    }
    .icon-instagram:before {
      content: "\e905";
    }
    .icon-engagements:before {
      content: "\e906";
    }
    .icon-honeymoons:before {
      content: "\e907";
    }
    .icon-rtk:before {
      content: "\e908";
    }
    .icon-weddings:before {
      content: "\e909";
    }
    .icon-activities:before {
      content: "\e90a";
    }
    .icon-arrow-down:before {
      content: "\e90b";
    }
    .icon-arrow-left:before {
      content: "\e90c";
    }
    .icon-arrow-right:before {
      content: "\e90d";
    }
    .icon-arrow-up:before {
      content: "\e90e";
    }
    .icon-arrow:before {
      content: "\e90f";
    }
    .icon-beaches:before {
      content: "\e910";
    }
    .icon-best-price:before {
      content: "\e911";
    }
    .icon-bullet:before {
      content: "\e912";
    }
    .icon-butler-elite:before {
      content: "\e913";
    }
    .icon-butler:before {
      content: "\e914";
    }
    .icon-cal:before {
      content: "\e915";
    }
    .icon-check:before {
      content: "\e916";
    }
    .icon-check2:before {
      content: "\e917";
    }
    .icon-checkin:before {
      content: "\e918";
    }
    .icon-checkout:before {
      content: "\e919";
    }
    .icon-close:before {
      content: "\e91a";
    }
    .icon-compass:before {
      content: "\e91b";
    }
    .icon-contact:before {
      content: "\e91c";
    }
    .icon-dan:before {
      content: "\e91d";
    }
    .icon-details-arrivals:before {
      content: "\e91e";
    }
    .icon-details-babysitting:before {
      content: "\e91f";
    }
    .icon-details-bring:before {
      content: "\e920";
    }
    .icon-details-butler:before {
      content: "\e921";
    }
    .icon-details-charge:before {
      content: "\e922";
    }
    .icon-details-checkin:before {
      content: "\e923";
    }
    .icon-details-currency:before {
      content: "\e924";
    }
    .icon-details-departure:before {
      content: "\e925";
    }
    .icon-details-dress:before {
      content: "\e926";
    }
    .icon-details-electric:before {
      content: "\e927";
    }
    .icon-details-gift:before {
      content: "\e928";
    }
    .icon-details-handicap:before {
      content: "\e929";
    }
    .icon-details-laundry:before {
      content: "\e92a";
    }
    .icon-details-medical:before {
      content: "\e92b";
    }
    .icon-details-passport:before {
      content: "\e92c";
    }
    .icon-details-private:before {
      content: "\e92d";
    }
    .icon-details-requests:before {
      content: "\e92e";
    }
    .icon-details-safe:before {
      content: "\e92f";
    }
    .icon-details-scuba:before {
      content: "\e930";
    }
    .icon-details-tips:before {
      content: "\e931";
    }
    .icon-details-transfers:before {
      content: "\e932";
    }
    .icon-details-weather:before {
      content: "\e933";
    }
    .icon-details-wifi:before {
      content: "\e934";
    }
    .icon-details:before {
      content: "\e935";
    }
    .icon-dining-diet:before {
      content: "\e936";
    }
    .icon-divider:before {
      content: "\e937";
    }
    .icon-dollar:before {
      content: "\e938";
    }
    .icon-download:before {
      content: "\e939";
    }
    .icon-english-butler:before {
      content: "\e93a";
    }
    .icon-extras-butler:before {
      content: "\e93b";
    }
    .icon-extras-concierge:before {
      content: "\e93c";
    }
    .icon-extras-handicap:before {
      content: "\e93d";
    }
    .icon-extras-lovenest:before {
      content: "\e93e";
    }
    .icon-extras-private-transfer:before {
      content: "\e93f";
    }
    .icon-extras-room-service:before {
      content: "\e940";
    }
    .icon-facebook:before {
      content: "\e941";
    }
    .icon-flipbook:before {
      content: "\e942";
    }
    .icon-foundation:before {
      content: "\e943";
    }
    .icon-fowlcay:before {
      content: "\e944";
    }
    .icon-gplus:before {
      content: "\e945";
    }
    .icon-grandpineapple:before {
      content: "\e946";
    }
    .icon-grid:before {
      content: "\e947";
    }
    .icon-handicap:before {
      content: "\e948";
    }
    .icon-islandroutes:before {
      content: "\e949";
    }
    .icon-laptop:before {
      content: "\e94a";
    }
    .icon-list:before {
      content: "\e94b";
    }
    .icon-lovenest:before {
      content: "\e94c";
    }
    .icon-map:before {
      content: "\e94d";
    }
    .icon-padi-learning:before {
      content: "\e94e";
    }
    .icon-padi:before {
      content: "\e94f";
    }
    .icon-person:before {
      content: "\e950";
    }
    .icon-photo:before {
      content: "\e951";
    }
    .icon-pinterest:before {
      content: "\e952";
    }
    .icon-plus:before {
      content: "\e953";
    }
    .icon-press:before {
      content: "\e954";
    }
    .icon-privatevillas:before {
      content: "\e955";
    }
    .icon-redlane:before {
      content: "\e956";
    }
    .icon-rss:before {
      content: "\e957";
    }
    .icon-sandals-select:before {
      content: "\e958";
    }
    .icon-sandals:before {
      content: "\e959";
    }
    .icon-select:before {
      content: "\e95a";
    }
    .icon-share-link:before {
      content: "\e95b";
    }
    .icon-share:before {
      content: "\e95c";
    }
    .icon-snapshots:before {
      content: "\e95d";
    }
    .icon-square-check:before {
      content: "\e95e";
    }
    .icon-tag:before {
      content: "\e95f";
    }
    .icon-tri-down:before {
      content: "\e960";
    }
    .icon-tri-left:before {
      content: "\e961";
    }
    .icon-tri-right:before {
      content: "\e962";
    }
    .icon-tri-up:before {
      content: "\e963";
    }
    .icon-twitter:before {
      content: "\e964";
    }
    .icon-video:before {
      content: "\e965";
    }
    .icon-vrx:before {
      content: "\e966";
    }
    .icon-weddingmoons:before {
      content: "\e967";
    }
    .icon-wp-lazy:before {
      content: "\e968";
    }
    .icon-wp-pirate:before {
      content: "\e969";
    }
    .icon-wp-slide:before {
      content: "\e96a";
    }
    .icon-wp-surf:before {
      content: "\e96b";
    }
    .icon-zoom:before {
      content: "\e96c";
    }
    .icon-anniversaries:before {
      content: "\e96d";
    }
    .icon-wmblog:before {
      content: "\e96e";
    }
    .icon-checkmark:before {
      content: "\e96f";
    }
    .icon-world:before {
      content: "\e970";
    }
    .icon-headset:before {
      content: "\e971";
    }
    .icon-divesite:before {
      content: "\e972";
    }
    .icon-details-mobile:before {
      content: "\e973";
    }
    .icon-global-gourmet-2:before {
      content: "\e974";
    }



/* General */
body{
    font-family: "Helvetica Neue", sans-serif;
    display: block;    
}
.main-header{
    background: url(../imgs/headerBG.png) repeat;
    background: linear-gradient(to bottom, #373737 0%,#373737 29%,#e3e3e3 29%,#f8f9f9 100%);
    height: 86px;
}
.container{
    width: 960px;
    margin: auto;
    position: relative;
}
.logo{
    width: 183px;
    float: left;
    height: 86px;
    background-color: #00abe6;
    color: white;
    display: block;
}
.logoPrimary{
    width:183px;
    height:86px;
    color:white;
    font-family: "Bebas";
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    text-align: center;
}
.logoPrimary i{
    font-size: 69px;
    text-align: center;
    display: block;
    line-height: 63px;
}
.logo img{
    width: 183px;
    height: 86px;
    object-fit: cover; /* crossbrowser incompatibility caniuse */
    margin-top: -8px;
}
a:hover.logo{
    background-color: #1AC4FF
}
#logo img{
    width: 235px;
    height: 61px;
    object-fit: cover; /* crossbrowser incompatibility caniuse */
    padding-top: 14px;
    padding-bottom: 14px;
}
.navbars{
    float:left;
    width:767px;
    padding-left: 10px;
    height:86px;
}
.list-inline > li{
    list-style: none;
    display: inline-block;
    font-size: 0; /* reduce white space between elements */
}
.topMenu {
    height:25px;
    width: 567px;
    float: left;
}
.topMenu > a{
    font: normal 11px "Arial Bold", sans-serif;
    line-height: 14px;
    color: #acacac;
    text-align: left;
    text-decoration: none;
    padding:8px 9px;
}
.topMenu a:hover{
    color:#00abe6;
}
.mainMenu {
    height: 62px;
    float: left;
    clear: both;
}
.mainNav >li a{
    font:  18px "Bebas", sans-serif;
    font-weight: 500;
    line-height: 14.35px;
    color: #373737;
    text-transform: uppercase;
    padding: 24px 11px;
    display: block;
}
.mainMenu li:hover{
    background-color: #373737;
}
.mainMenu li:hover > a{
    color:white;
}
.bookNow {
    color:white;
    background-color: #00abe6;
    width: 74px;
    height: 61px;
    float: right;
    top:25px;
}
.langDrop{
    position: absolute;
    padding: 4px 0px 0px !important;
    float: right;
    right: 0px;
}
a:hover.bookNow {
    background-color: #1AC4FF;
}
.spanBook{
    text-transform: uppercase;
    line-height: 3px;
    letter-spacing: -1px;
}
.spanNow{
    text-transform: uppercase;
    line-height: 3px;
    font-size: 18px;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
a{
    text-decoration: none;
    color: #00abe6;
}
a.socialLink {
    color: #979797;
    font-family: "beachesFonts";
    width:43px !important;
    height: 33px !important;
    
}
a.socialLink:hover {
    color: #00abe6;
}

.sliderContainer{
    position: relative;
    background-color: #373737;
}
.sliderContainer img{
    display: block;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.share{
    padding-top:22px;
    padding-bottom: 21px;
    float:right
}
ul#social > li {
    width:43px;
    height:29px;
    border-left: 2px solid #ebebeb;
}
#social >li i{
    padding:5px 16px; 
    font-size: 22px;
}
#social >li:last-child {
    border-right: 2px solid #ebebeb;
}

.forEveryone > ul li a{
    display:block;
    position: relative;
}
.shapedLink .circleBorder {
    border-radius: 50%;
    position: relative;
    width:121px;
    height: 122px;
    display: block;
    border: 6px solid #e8e8e8;
    overflow: hidden;
}
.shapedLink span.typo{
    position: absolute;
    bottom: -21px;
    left:50%;
    width:122px;
    padding: 6px 0 7px;
    margin-left: -62px;
    text-align: center;
    font-family: "Yellow";
    color:#00abe6;
    background: white;
    font-size: 22px;
}

.shapedLink span.typo::after{
    transform: rotate(-2deg);
    position:absolute;
    top:-4px;
    left:-6px;
    z-index:-1;
    width:135px;
    height: 43px;
    background: #ebebeb;
    content: "";
}
a:hover .circleBorder{
    border-color: #00abe6;
}
a:hover .typo::after{
    background: #00abe6;
}
.everyCouple{
    background: url(../imgs/everySprite.png) 0 0;
}
.everyFamily{
    background: url(../imgs/everySprite.png) 146px 0;
}
.everyFriend{
    background: url(../imgs/everySprite.png) -51px 246px;
}
.everyGroup{
    background: url(../imgs/everySprite.png) 132px 250px;
}
.everyWedding{
    background: url(../imgs/everySprite.png) -37px 118px;
}
.sprite{
    width: 133px;
    height: 134px;
    position: absolute;
}
.b{
    font-weight: bold;
}

.introTitle{
    text-transform: uppercase;
    font-family: "Bebas";
    font-size: 52.3px;
    padding-top: 23px;
    padding-bottom: 12px;
}
.blueFont{
    font-family: "Yellow";
    font-size: 52.3px;
    margin-top: 23px;
    margin-bottom: 12px;
    color:#00abe6;
}
.alignBottom{
    vertical-align: bottom;
}
.row{
    width:960px;
    
}

img#homeHero{
    z-index:1;
}
.mainArticle{
    width:704px;
    float:left;
}
.intro{
    width:672px;
    padding-bottom: 59px;
    clear: both;
}
.intro p{
    font: 16px "Arial Regular", sans-serif;
    color:#666;
    font-weight: 300;
    line-height: 24px;
    padding-top: 12px;
}
.forEveryone{
    padding-bottom: 65px;
}
.sidebar{
    width:235px;
    float:right;
    margin-top: -89px;
    z-index: 2;
    position: relative;
}
.countdownHeader{
    border-top: 2px solid #ed8b75;
    height:21px;
    background-color: #ed5431;
    color:white;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    padding: 9px 0px 7px 0px;
}
.timer{
    font-size: 22px !important;
}
.ad{
    font-size: 19px;
}
.countdown{
    margin-bottom: 17px;
}
.hourGlass{
    height:34px;
    background-color:#373737;
    color: white; 
    padding: 9px 0px 7px 0px;
    font-size: 22px;
    text-align: center;
}
span.tag{
    font-size: 8px;
    display: block;
    text-transform: uppercase;
}
#colon{
    vertical-align: super;
}
.promoBanner{
    height:100px;
    background-color: #00abe6;
    border-top: 2px solid #85e0ff;
    color:white;
    text-align: center;
    padding: 26px 30px 18px 19px;
}
.discount{
    font-size: 85px;
    display: inline-block;
    padding-left: 25px;
}
a.specialPromo{
    color:white;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
}
.sidebar img#countdown {
    border-top-color: #ed8b75;
}
.sidebar img.discount{
    background-color: #00abe6;
    border-top:2px solid #85e0ff;
    text-transform: uppercase;
    width:235px;
    height:201px;
    color:white;
    margin-top:-2px;
    font-size: 29px;
}
.beaches-sideLogo{
    color: #00abe6;
    font-size: 53px;
    padding:6px 0px;
    text-align: center;
}
span.saveTxt{
    letter-spacing: 1px;
    font-size: 20px;
}
.left{
    float: left;
}
.small{
    font-size: 10px;
}
.allCaps{
    text-transform: uppercase;
    
}
.destination{
    background-color: #d5d5d5;
    height:147px;
    padding: 11px;
    border-radius: 3px;
}
.guests{
    background-color: #d5d5d5;
    height:36px;
    padding: 11px;
    margin-top:4px;
    border-radius: 3px;
}
.rotate{
    transform: rotate(180deg);
}
.bestPriceIcon{
    width:9px;
    color:#00abe6;
    float:left;
    text-align: right;
    padding-left: 5px;
    line-height: 10px;
}
.selectWrapper span{
    display: block;
    display: block;
    margin-top: 3px;
}
.inline{
    display: inline-block;
    vertical-align: top;
}

sup {
    vertical-align: super;
    text-transform: uppercase;
    width: 55px;
    display: inline-block;
    position: absolute;
    margin-left: -35px;
    margin-top: 10px;
    font-size: 18px;
}

/*** FORMS ***/
input[type="text"]{
    border: 1px solid;
    border-color: #b4b4b4 transparent transparent #b4b4b4;
}
input[type="submit"]{
    height: 39px;
    width: 235px;
    color:white;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    background-color:#ed5431;
    border:none;
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}

input[type="submit"]:hover{
    background-color: #d83813;
}

input::placeholder { color: #777; font-size: 10px}
select, option{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: linear-gradient(to bottom, #fefefe 0%,#eeeeee 100%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mySelect{
    margin-bottom: 6px;
    width:213px;
    height: 33px;
    padding:5px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0px 1px 3px #eee;
}
.select-sm{
    width:49px !important;
    height: 36px !important;
    position: relative;
    float: right;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0px 1px 3px #eee;
}
option{
    background-color: #f6f6f6 !important;
    color:#666 !important;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.customSelect:after{
    content: url(../imgs/ic_keyboard_arrow_down_black_24dp_1x_copy.png);    
    position: absolute; 
    right: 16px;  
    padding-top: 5px;
    z-index: 1;    
    pointer-events: none; 
}
.select-sm:after{
    content: url(../imgs/ic_keyboard_arrow_down_black_24dp_1x_copy.png);    
    position: absolute; 
    right: 4px;  
    padding-top: 6px;
    z-index: 1;    
    pointer-events: none; 
}
.selectWrapper{
    width:101px;
    height: auto;
    float:left;
}
.selectWrapper::after{
    content:"";
    clear: both;
}
.selectWrapper::before{
    content:"";
    clear: both;
}

.datePicker{
    margin-bottom: 6px;
    width:93px;
    height: 27px;
    border:none;
    border-radius: 3px;
    float: right;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}
a.ui-datepicker-next{
    background-color:#676767 !important;
    border:none !important;
    border-color: #676767;
}
a.ui-state-hover.ui-datepicker-next-hover{
    background-color:#676767 !important;
    border:none !important;
    border-color: #676767;
}
a.ui-datepicker-prev{
    background-color:#fff !important;
    border:none !important;
    border-color: #fff;
}
a.ui-state-hover.ui-datepicker-prev-hover{
    background-color:#676767 !important;
    border:1px solid !important;
    border-color: #676767;
    border-radius: 3px;
}

a.ui-state-active{
    background-color:#E65130 !important;
    border:1px solid !important;
    border-color: #E65130 !important;
    border-radius: 3px !important;
}
a.ui-state-hover{
    background-color:#E65130 !important;
    border:1px solid !important;
    border-color: #E65130 !important;
    border-radius: 3px !important;
}
.ui-widget-header .ui-icon{
    background-image: url("../imgs/ui-icons_ffffff_256x240.png") !important;
}
.pickerTrigger{
    float: right;
    font-size: 28px !important;
    margin-left: 5px;
    margin-top: 5px;
    color: #666666;
    cursor: pointer;
}
a:hover.pickerTrigger{
    color:#040404;
}
label {
    padding-top: 2px;
    text-align: right;
    font-size: 9px;
    text-transform: uppercase;
    width: auto;
    word-wrap: break-word;
    font-weight: 600;
    margin-top:3px;
}
label.datepickerLabel{
    font-size: 12px;
    margin-top: 7px;
    float: left;
}
